<!DOCTYPE html>
<html>
<head>
  <title>I Lrnz U</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="notice"><%= notice %></div>
  <div id="alert"><%= alert %></div>

  <div class="new-account"><%= link_to "Make me a account", new_student_path %></div>

  <h1><%= link_to "I Lrnz U", root_path %></h1>

  <div class="<%= request.params[:controller] %> <%= request.params[:action] %>">
    <%= yield %>
  </div>

</body>
</html>
